* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
select,
button,
textarea {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

/* Common */
.container {
    width: 1440px;
    max-width: calc(100% - 52px);
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    background-color: #212832;
    border-radius: 8px;
}

.btn:hover {
    opacity: 0.9;
}
/* ---------------------------------- Header ---------------------------------- */
header {
    position: sticky;
    top: -21px;
    padding: 42px 0 21px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header-navbar {
    margin-left: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-navbar__item {
    position: relative;
    padding: 6px 24px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    transition: 0.6s;
}

.header-navbar__item::after {
    visibility: hidden;
    position: absolute;
    left: 24px;
    bottom: 6px;
    content: "";
    width: calc(100% - 48px);
    height: 2px;
    background-color: #7264d6;
}

.header-navbar__item:hover {
    color: #212832;
    text-shadow: 0.5px 0 0 #212832, -0.5px 0 0 #212832;
}
.header-navbar__item:hover::after {
    visibility: visible;
}

.header-action {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 28px;
}

.header-action__login {
    color: #212832;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}
