* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
select,
button,
textarea {
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

/* Common */
.desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6667;
}
.heading-1 {
    color: #212832;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1667; /* 116.667% */
}
.heading-2 {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}
.section-title {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.section-title::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}
.container {
    width: 1170px;
    max-width: calc(100% - 52px);
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    background-color: #212832;
    border-radius: 8px;
}

.btn:hover {
    opacity: 0.9;
}
/* ---------------------------------- Header ---------------------------------- */
header {
    position: sticky;
    top: -21px;
    padding: 42px 0 21px;
    background-color: #fff;
    z-index: 99;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header-navbar {
    margin-left: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-navbar__item {
    position: relative;
    padding: 6px 24px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    transition: 0.6s;
}

.header-navbar__item::after {
    visibility: hidden;
    position: absolute;
    left: 24px;
    bottom: 6px;
    content: "";
    width: calc(100% - 48px);
    height: 2px;
    background-color: #7264d6;
}

.header-navbar__item:hover {
    color: #212832;
    text-shadow: 0.5px 0 0 #212832, -0.5px 0 0 #212832;
}
.header-navbar__item:hover::after {
    visibility: visible;
}

.header-action {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 28px;
}

.header-action__login {
    color: #212832;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}

/* ---------------------------------- Hero ---------------------------------- */
.hero {
    padding: 55px 0;
}

.hero__inner {
    display: grid;
    grid-template-columns: 540px 1fr;
    column-gap: 60px;
    align-items: center;
}

.hero__heading {
    width: 93%;
    margin-top: 12px;
}

.hero__heading b {
    color: #7264d6;
}

.hero__desc {
    width: 100%;
    margin-top: 20px;
}

.hero-form {
    margin-top: 40px;
    padding: 8px;
    width: 100%;
    display: flex;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    flex: 1;
    /* height: 74px; */
    padding: 15px 23px 15px 15px;
}

.hero-form__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.hero-form__submit {
    background-color: #7264d6;
    cursor: pointer;
}

.hero__note {
    display: inline-block;
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71429; /* 171.429% */
}

.hero__right {
    position: relative;
    /* height: 562px; */
}

.hero__img {
    display: block;
    margin-left: 100px;
    width: 296px;
    height: 562px;
    object-fit: cover;
}

.hero-deposite {
    position: absolute;
    top: 113px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
}

.hero-deposite__text {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-deposite__money {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.hero-interest {
    position: absolute;
    top: 127px;
    right: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #da6464;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-interest__number {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__text {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

.hero-secured {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    position: absolute;
    bottom: 60px;
    right: 91px;
    padding: 15px 20px;
    border-radius: 10px;
    background: #439f90;
}

.hero-secured-column {
    display: flex;
    column-gap: 5px;
    flex-direction: column;
}

.hero-secured__money {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.hero-secured__text {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

/* ---------------------------------- How it works ---------------------------------- */
.hoitwo {
    margin-top: 45px;
    padding: 130px 0 55px;
}

.hoitwo__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 130px;
}

.hoitwo__left {
    flex-shrink: 0;
    width: 570px;
}

.hoitwo-media {
    display: block;
    position: relative;
    width: 470px;
    height: 550px;
    background: url(../img/hoitwo-bg-img.svg);
    background-repeat: no-repeat;
}
.hoitwo-media__img {
    /* display: block; */
    position: absolute;
    left: 7px;
    bottom: 5px;
    width: calc(100% - 14px);
    object-fit: cover;
    transform: scaleX(-1);
}

.hoitwo-congratulations {
    position: absolute;
    left: 344px;
    bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 226px;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
}

.hoitwo-congratulations__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
}

.hoitwo-congratulations__img svg {
    position: relative;
    z-index: 1;
}

.hoitwo-congratulations__img::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.hoitwo-congratulations-column {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.hoitwo-congratulations__title {
    color: #212832;
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
}

.hoitwo-congratulations__desc {
    color: #696d76;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
}

.hoitwo-media-decorate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 344px;
    top: 7px;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264d6;
}

.hoitwo-media-decorate::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #f8fbfe;
}

.hoitwo-media-decorate__img {
    position: relative;
    z-index: 1;
}

.hoitwo__right {
    margin-top: -69px;
}

.hoitwo__heading {
    margin-top: 12px;
}

.hoitwo-list {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.hoitwo-item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.hoitwo-item__heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45456; /* 145.455% */
}

.hoitwo-item__desc {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* ---------------------------------- Features ---------------------------------- */
.features {
    margin-top: 40px;
    padding: 60px 0;
}

.features__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.features__content {
    flex-shrink: 0;
    width: 40%;
}

.features__heading {
    margin-top: 12px;
}

.features__desc {
    margin-top: 20px;
}

.features-list {
    margin: 28px 0 38px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.features-list__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667; /* 166.667% */
}

.features-list__item::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #7264d6;
}
/* Features 1 */
.features-1__media {
    flex-grow: 1;
    position: relative;
}

.features-1__img {
    display: block;
}

.features-send {
    position: absolute;
    top: -48px;
    right: 0;
    display: flex;
    align-items: center;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}

.features-send-content__row {
    display: flex;
    justify-content: space-between;
}

.features-send__title {
    color: #212832;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
}

.features-send__money {
    color: #212832;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
}

.features-send__desc,
.features-send__date {
    color: #696d76;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.features-income {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -55px;
    right: 0;
    padding: 15px;
    border-radius: 16px;
    background: #439f90;
}

.features-income__title {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.features-income__money {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
/* Features 2 */

.features-2 {
    flex-direction: row-reverse;
}

.features-2__media {
    position: relative;
    flex-grow: 1;
}

.features-2__wrap {
    display: flex;
    justify-content: center;
    width: 470px;
    background: url(../img/features-2-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
}

.features-2__img {
    display: block;
    width: calc(100% - 56px);
    transform: translateY(-1px);
    object-fit: cover;
}

.features-payment {
    position: absolute;
    left: 263px;
    bottom: 57px;
    padding: 28px;
    fill: #fff;
    filter: drop-shadow(0 44px 48px rgba(0, 0, 0, 0.1));
    background-color: #fff;
    border-radius: 10px;
}

.features-payment__title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667; /* 166.667% */
}

.features-payment-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.features-payment__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
}

.features-payment__item:last-of-type {
    background-color: #f9ea63;
}

.features-payment__img {
    scale: 0.5;
}

.features-payment-decorate {
    position: absolute;
    top: -35px;
    right: -50px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #7264d6;
    background-image: url(../icon/features-2-money.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* ---------------------------------- Testimonial ---------------------------------- */
.testimonial {
    margin-top: 40px;
    padding: 60px 0;
}

.testimonial__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial__heading {
    margin-top: 12px;
}

.testimonial__desc {
    margin-top: 18px;
    width: 38%;
    text-align: center;
}

.testimonial__content {
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
    overflow: hidden;
}

.testimonial-item {
    flex-shrink: 0;
    width: calc((100% - 30px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial-item__quote {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 42px 28px;
    border: 1px solid #dfe2e8;
    border-radius: 10px;
    color: #696d76;
    background-color: #fff;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5454;
}

.testimonial-item__quote:hover,
.testimonial-item__quote:hover::after {
    fill: #fff;
    filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonial-item__quote::after {
    position: absolute;
    bottom: -40px;
    display: inline-block;
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid #dfe2e8;
    background-color: #fff;
    transform: rotate(45deg) skew(10deg, 10deg);
    clip-path: polygon(100% 7%, 7% 100%, 100% 100%);
}

.testimonial-item__user {
    margin-top: 96px;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-item:first-child .testimonial-item__user {
    background-color: #4ab5e3;
}

.testimonial-item:last-child .testimonial-item__user {
    background-color: #439f90;
}

.testimonial-item__username {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38462; /* 138.462% */
}

.testimonial-item__career {
    margin-top: 2px;
    color: #696d76;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
}

.testimonial__dots {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.testimonial__dot.active {
    background-color: #7264d6;
    border: 1px solid #7264d6;
}

.testimonial__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

/* ---------------------------------- Testimonial ---------------------------------- */
.blog {
    margin-top: 40px;
    padding: 60px 0;
}

.blog-content {
    margin-top: 6px;
    display: grid;
    grid-template-areas:
        "heading btn"
        "desc btn";
    align-items: center;
}

.blog__heading {
    grid-area: heading;
}

.blog__desc {
    grid-area: desc;
    margin-top: 18px;
    width: 435px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.blog__btn {
    grid-area: btn;
    justify-self: flex-end;
}

.blog-list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 58px;
}

.blog-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 22px;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
}

.blog-item:hover {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.07);
}

.blog-item:hover .blog-item-content__link {
    color: #7264d6;
}

.blog-item__img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.blog-item-content__date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71429;
}

.blog-item-content__desc {
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.667;
}

.blog-item-content__link {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
}

/* ---------------------------------- App ---------------------------------- */
.app {
    margin-top: 100px;
}

.app__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    border-radius: 24px;
    background: #7264d6;
    /* background-color: #4ab5e3; */
}

.app__title,
.app__heading,
.app__desc {
    color: #fff;
}

.app__title::before {
    background-color: #fff;
}

.app__heading {
    margin-top: 12px;
}

.app__desc {
    margin-top: 18px;
    width: 435px;
    text-align: center;
}

.app-download {
    margin-top: 38px;
    display: flex;
    column-gap: 16px;
}

.app-download__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 31px;
    border-radius: 6px;
    background: #fff;
}

.app-decorate__star {
    position: absolute;
}

.app-decorate__star:nth-last-of-type(1) {
    top: 49px;
    left: 112px;
}

.app-decorate__star:nth-last-of-type(2) {
    top: 49px;
    right: 112px;
}
.app-decorate__star:nth-last-of-type(3) {
    bottom: 49px;
    left: 166px;
}
.app-decorate__star:nth-last-of-type(4) {
    bottom: 49px;
    right: 166px;
}

/* ---------------------------------- Footer ---------------------------------- */
.footer {
    margin-top: 100px;
    background-color: #FAFBFF;
}

.footer::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "© 2020 Ligft Media All rights reserved.";
    padding: 28px 0;
    background-color: #7264d6;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.footer__inner {
    padding: 100px 0 28px;
}

.footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 34%;
    column-gap: 163px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer-item__title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667; /* 166.667% */
}

.footer-links {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.footer-contact__tel,
.footer-contact__email,
.footer-link,
.footer-item__address {
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
}

.footer-contact__tel:hover,
.footer-contact__email:hover,
.footer-link:hover {
    color: #7264d6;
}

.footer-form {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer-form__label {
    display: block;
    color: #0a142f;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667; /* 166.667% */
}

.input-row {
    display: flex;
    column-gap: 20px;
}

.footer-form__input {
    flex-grow: 1;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #8e919a;
}

.footer__btn {
    border-radius: 6px;
    background: #7264d6;
}

.footer-contact {
    margin-top: 54px;
    display: flex;
    column-gap: 100px;
}
